{{template "adminheader.html" .}}
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("#title").val({{.Web.Title}})
        $("#weburl").val({{.Web.Url}})
        $("#desc").val({{.Web.Desc}})
        if ({{.Web.Type}} == 0){
            $('#type1').click()
        }else if({{.Web.Type}} == 1){
            $('#type2').click()
        }
    })

</script>
<div class="container">
<form id="up" name="up" class="" method="post" action="/admin/up" enctype="multipart/form-data">
    <input type="hidden" class="form-control" id="id" name="id" value="{{.Web.Id}}">
    <div class="">
        <label for="">名称</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="">
    </div>
    <div class="">
        <label for="">网站</label>
        <input type="text" class="form-control" id="weburl" name="weburl" placeholder="">
    </div>
    <div class="">
        <label for="">描述</label>
        <input type="text" class="form-control" id="desc" name="desc" placeholder="">
    </div>
    <div class="my_select_img">
        <div>
            <h5>Icon</h5>
            {{if ne .Web.Icon ""}}
                <img style="width: 100px;height: auto;" src="{{isimgpath .Web.Icon}}">
            {{end}}
            <input type="file" class="form-control my_file" name="image" id="image" accept="image/*">
        </div>
    </div>
    <div class="">
        <br/>
        <label for="">选择分类</label>
        <label class="radio-inline">
          <input type="radio" name="type" id="type1" value="type1" checked> home
        </label>
        <label class="radio-inline">
          <input type="radio" name="type" id="type2" value="type2"> blog
        </label>
    </div>  
    <button type="submit" class="btn btn-default pull-right">修改</button>
    <br/><br/>
</form>
</div>
{{template "adminfooter.html" .}}